@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section {
    margin-top: 50px;
}

body {
    position: relative;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255 255 255 /0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.menu {
    display: flex;
}

.logo {
    color: #a000a5;
    font-weight: 700;
    font-size: 25px;
}

.logo span {
    color: #273e60;
}

.menu li {
    margin: 0 15px;
    list-style: none;
}

.menu li a {
    font-size: 14px;
    text-decoration: 0;
    color: #999;
    position: relative;
}


.menu li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #a000a5;
    transition: 0.5s;
}

.menu li a:hover::before {
    width: 100%;
}

.menu li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #a000a5;
    transition: 0.5s;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a:hover {
    color: #000;
}



/*HOME CSS*/



#home {
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: calc(100vh - 50px);
    justify-content: space-between;
}

#home .left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .left h4 {
    font-size: 30px;
    color: #a000a5;
}

#home .left h1 {
    font-size: 60px;
}

#home .left p {
    font-size: 18px;
    color: #999;
}

#home .left button {
    margin-top: 0px;
    width: fit-content;
    padding: 5px 10px;
    background-color: #3bb927;
    border: 0;
    transition: 0.5s;
    position: relative;

}

#home .left button a {
    font-size: 20px;
    text-decoration: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#home .left button::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #000;
}

#home .left button:hover a {
    letter-spacing: 1px;
}

#home .right {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .right img {
    width: 100%;
    animation: animate 2s linear;
    transition: 0.5s;
}

/* prestation css */

#presta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 50px 10px;
}

.mini_title {
    margin-top: 25px;
    font-size: 16px;
    color: #a000a5;
    text-transform: capitalize;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    color: #273e60;
    margin-bottom: 25px;
    text-align: center;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
}

.dishes .dish {
    height: 450px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dishes .dish2 {
    height: 500px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

hr.zig, hr.zag {
    border: none;
    height: 30px;
    margin: 0 50px;
}
  
hr.zig{
    background: linear-gradient(-135deg, #FFF 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #FFF 20px, rgba(0, 0, 0, 0) 0) 0 5px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    z-index: 100;
    position: relative;
}
  
hr.zag {
    background: linear-gradient(-135deg, #a000a5 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #a000a5 20px, #FFF 0) 0 5px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 20px 40px;
    z-index: 50;
    margin-top: -28px;
}


.dishes .dish p {
    text-align: center;
    font-size: 35px;
    color: #a000a5;
    margin-bottom: 20px;
}

.dishes .dish2 p {
    text-align: center;
    font-size: 35px;
    color: #a000a5;
    margin-bottom: 20px;
}

.dishes .dish h2 {
    text-align: center;
    font-size: 50px;
    color: #a000a5;
    margin: 20px;
    width: 100%;
}

.dishes .dish2 h2 {
    text-align: center;
    font-size: 50px;
    color: #a000a5;
    margin: 20px;
    width: 100%;
}

.dishes .dish span {
    text-align: center;
    font-size: 20px;
    color: #000;
    opacity: 0.7;
    font-weight: thin;
    position: relative;

}

.dishes .dish2 span {
    text-align: center;
    font-size: 20px;
    color: #000;
    opacity: 0.7;
    font-weight: thin;
    position: relative;

}


.dishes .dish li {
    text-align: justify;
    font-size: 20px;
    color: #a000a5;
    text-transform: capitalize;
    margin-bottom: 5px;
    list-style-type: none;

}

.dishes .dish2 li {
    text-align: justify;
    font-size: 20px;
    color: #a000a5;
    text-transform: capitalize;
    margin-bottom: 5px;
    list-style-type: none;

}

.dishes .dish li:before {
    content: '- ';
}

.dishes .dish2 li:before {
    content: '- ';
}


.dishes .dish.liste_sur_mesure {
    margin-top: 20px;
}


.dishes .dish a {
    margin-top: 20px;
    font-size: 14px;
    text-decoration: 0;
    background-color: #a000a5;
    padding: 5px 60px;
    color: #fff;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.dishes .dish2 a {
    margin-top: 20px;
    font-size: 14px;
    text-decoration: 0;
    background-color: #a000a5;
    padding: 5px 60px;
    color: #fff;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.dishes .dish a:hover {
    transform: scale(1.1);
}

.dishes .dish2 a:hover {
    transform: scale(1.1);
}

#realisation {
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 50px 10%;
    width: 100%;
}

/* Slider menu*/
.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #a000a5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: #a000a5;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #a000a5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #a000a5;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #a000a5;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #a000a5;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #a000a5;
}


/* Slider menu*/

/* About us*/

#about_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #a000a5;
    padding: 50px 10px;
    position: relative;
    
}

.about {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
}

.about .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about .right img {
    width: 90%;
}

.about .left {
    width: 60%;
}

.about .left h3 {
    font-size: 35px;
    color: #273e60;
    margin: 10px 0; 
}

.about .left p {
    font-size: 14px;
    color: #999;
}

.about .left button {
    margin: 20px 0;
    padding: 5px 60px;
    background-color: #a000a5;
    border: 0;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.about .left button:hover {
    transform: scale(1.1);
}

.about .left button a {
    color: #fff;
    text-decoration: 0;
    font-weight: bolder;

}

/* comments CSS*/

#comment_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    flex-direction: column;
    padding: 0 10%;
}

.comments {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.comments .comment div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comments .comment div img {
    width: 45px;
    height: 45px;
    border: 2px solid #000;
    border-radius: 50%;
}

.comments .comment {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}

.comments .comment div h4 {
    margin-left: 15px;
    font-size: 14px;
    color: #273e60;
}

.comments .comment p {
    font-size: 13px;
    color: #999;
}

/* Demande CSS

#demande {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#demande form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 25px;
    border-radius: 6px;
    flex-direction: column;
    width: 350px;
}

#demande form label {
    margin-bottom: 8px;
    font-size: 14px;
}

#demande form input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.05);
    outline: 0;
}

#demande form input:focus {
    outline: 1px solid #a000a5;
}

#demande form input[type="submit"]{
    margin-top: 15px;
    color: #fff;
    background-color: #a000a5;
    border: 1px solid #a000a5;
}*/

footer {
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 50px 30px 20px;
}


.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

/* Hover effect on social media icons */

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #fff;
    transition: 0.5s;
}

.menu_footer {
    display: flex;
    justify-content: center;
}

.menu_footer li {
    margin: 0 15px;
    list-style: none;
}

.menu_footer li a {
    font-size: 14px;
    text-decoration: 0;
    color: #999;
    position: relative;
}

.menu_footer li a::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #a000a5;
    transition: 0.5s;
}

.menu_footer li a:hover::before {
    width: 100%;
}

.menu_footer li a::after {
    position: absolute;
    bottom: -5px;
    right: 0;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #a000a5;
    transition: 0.5s;
}

.menu_footer li a:hover::after {
    width: 100%;
}

.menu_footer li a:hover {
    color: #000;
}

.footerBottom {
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #000;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 2px;
    width: 100%;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.toggle_menu {
    display: none;
}

.toggle_menu_footer {
    display: none;
}
/* Responsive */

@media (max-width: 964px) {
    header .menu {
        display: none;
    }
    header {
        padding: 0 20px;
    }

    #home {
        flex-direction: column;
        padding: 12px;
        height: fit-content;
    }

    #home .left , #home .right {
        width: 100%;
        padding: 0;
    }

    #home .left {
        margin: 100px 0;
    }

    #home .left h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    #home .left h4 {
        font-size: 15px;
    }

    #home .left p {
        font-size: 15px;
    }

    #presta .dishes .dish {
        width: 100%;
        max-width: 300px;
        height: 500px;
    }


    #presta .dishes .dish2 {
        width: 100%;
        max-width: 300px;
        height: 650px;
    }


    #realisation {
        padding: 10px;
        height: auto;
    }

    #realisation .slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #realisation .slide img {
        width: 80%;
    }
    
    #comment_section {
        height: auto;
        margin-bottom: 20px;
    }

    #comment_section .comments .comment {
        width: 100%;
        margin-top: 20px;
    }

    footer .menu_footer {
        display: none;
    }


    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #a000a5;
        border-radius: 6px;
        box-shadow: 0 10px 0 #a000a5;
        transform: translateY(-10px);
        transition: 0.5s;

    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #a000a5;
    }

    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #a000a5;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;

    }

    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);
    }

    header .menu.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }

    header .menu.responsive li {
        margin: 15px 0;
    }

    .toggle_menu_footer {
        display: flex;
        margin: 0 auto;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }

    .toggle_menu_footer::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #000;
        border-radius: 6px;
        box-shadow: 0 10px 0 #000;
        transform: translateY(-10px);
        transition: 0.5s;

    }
    .toggle_menu_footer.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #000;
        margin-bottom: 250px;
    }

    .toggle_menu_footer::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #000;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;

    }

    .toggle_menu_footer.active::after {
        transform: translateY(0) rotate(-135deg);
        margin-bottom: 250px;
    }

    footer .menu_footer.responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--nav-menu-icon-size,22px);
        cursor: pointer;
        flex-direction: column; 
        border: 0 solid;
        border-radius: 3px;
        background-color: #fff;
        margin: 0 auto;
        width: 40%;
    }
}    